/***************************************
*********** Global Styles **************
***************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  background: #EEEFF1;
  padding: 0;
  margin: 0;
  min-height: 200vh; /* Force scroll bar for comparison with design */
  overflow-x: hidden;
  line-height: 1.5;
  letter-spacing: 0.004rem;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.6rem;
}

i {
  font-style: normal;
  font-family: 'FontAwesome';
}

.fas,
.fa {
  font-size: 26px;
}

.site-container {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  display: block;
  background: #017EDB;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-weight: 500;
}

.button:hover {
  background: #0260e5;
}

.button--centered {
  width: max-content;
  margin: 0 auto;
}

.button--small {
  padding: 0.6rem 1.4rem;
}

.section {
  width: 100%;
}

.section--padded {
  padding: 2rem 1.6rem;
}

.section--white {
  background: white;
}

p {
  margin-bottom: 1.6rem;
  max-width: 1080px;
}

.description {
  margin-left: auto;
  margin-right: auto;
}

.description--large {
  font-size: 1.05rem;
}

@media (min-width: 1280px) {
  .section--padded {
    padding: 3.6rem 9rem;
  }
}

/***************************************
********** Site Header Styles **********
***************************************/
.site-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: white;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #EFEFEF;
  padding: 0.4rem 1.4rem;
  width: 60%;
}

.logo-container__logo {
  max-height: 70%;
  max-width: 100%;
}

.site-header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.site-header__right__icons {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.site-header__right-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  transform: translateY(-100%);
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.site-header__right-content--active {
  transform: translateY(0%);
  transition: all 0.2s ease;
}

.site-header__right__top {
  display: flex;
  flex-direction: row;
}

.control-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-right: 1.4rem;
}

.control-group__label {
  font-size: 0.8rem;
  margin-right: 0.4rem;
}

.control-group__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.control-group__control {
  display: block;
  padding: 0.1rem 0.4rem;
  border: 1px solid #DFDFDF;
  font-weight: 500;
  font-size: 0.778rem;
  margin-right: 0.1rem;
}

.control-group__control:hover {
  border: 1px solid #AAAAAA;
  cursor: pointer;
}

.site-header__right__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.primary-nav,
.primary-nav__list {
  display: flex;
  flex-direction: column;
}

.primary-nav__list__item__link {
  display: block;
  padding: 1.4rem 1rem;
  border-bottom: 1px solid #EFEFEF;
  color: #1B1B1B;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .logo-container {
    width: 23%;
  }

  .site-header__right {
    width: 100%;
  }

  .site-header__right-content {
    position: relative;
    height: 100%;
    transform: translateY(0%);
    padding: 0;
  }

  .site-header__right__top {
    padding: 0.3rem 2rem;
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    justify-content: flex-end;
  }

  .site-header__right__bottom {
    flex-direction: row;
    margin: 0;
    height: 100%;
  }

  .primary-nav,
  .primary-nav__list {
    flex-direction: row;
    width: 100%;
  }

  .primary-nav__list {
    justify-content: space-around;
  }

  .site-header__right__icons {
    display: none;
  }

  .primary-nav__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .primary-nav__list__item__link {
    padding: 0;
    border: none;
  }
}

/***************************************
********* Secondary Nav Styles *********
***************************************/
.secondary-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #003E78;
  padding: 1.4rem 1.4rem 0 1.4rem;
  color: white;
  font-weight: 500;
}

.secondary-nav__dropdown {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.05rem;
}

.secondary-nav__dropdown:hover {
  cursor: pointer;
}

.secondary-nav__dropdown__icon {
  font-size: 0.9rem;
  margin-left: 0.8rem;
}

.secondary-nav__list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.secondary-nav__list__item {
  flex: 0 0 auto;
}

.secondary-nav__list__item__link {
  color: white;
  font-weight: 500;
  display: block;
  margin-right: 3rem;
  padding: 0.8rem 0;
  text-align: center;
}

.secondary-nav__list__item__link--active {
  border-bottom: 5px solid white;
}

.secondary-nav__list__item:nth-last-child(1) > .secondary-nav__list__item__link {
  padding-right: 0;
}

@media (min-width: 1280px) {
  .secondary-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }

  .secondary-nav__dropdown {
    width: auto;
    margin: 0;
  }

  .secondary-nav__list {
    width: 40%;
    overflow: auto;
    justify-content: flex-start;
  }

  .secondary-nav__list__item__link {
    display: block;
    padding: 1.3rem 1.6rem;
    margin-right: 0.4rem;
  }
}
/***************************************
********** Hero Styles *****************
***************************************/
.hero {
  background-image: url('images/billboard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 1.6rem;
}

.hero--bottom {
  background-image: url('images/keep_going_billboard.jpg');
}

.hero__content {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1px;
  padding: 1.6rem 2rem;
  max-width: 380px;
}

.hero__content__title {
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
}

.hero__content__description {
  margin-bottom: 1.2rem;
}

@media (min-width: 1280px) {
  .hero {
    padding: 2rem 9rem;
  }
}

/**************************************
****** Tabbed Container Styles ********
***************************************/
.tabs__header,
.tabs__header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.tabs__header__list__item:hover {
  cursor: pointer;
}

.tabs__header__list {
  border: 1px solid #4B77A0;
  border-radius: 5px;
}

.tabs__header__list__item {
  border-right: 1px solid #4B77A0;
  flex-basis: 50%;
  text-align: center;
  border-bottom: 1px solid #4B77A0;
  padding: 0.5rem 1.2rem;
  color: #003E78;
}

.tabs__header__list__item:nth-last-child(1) {
  border-right: none;
  border-bottom: 0;
}

.tabs__header__list__item:nth-last-child(2) {
  border-bottom: 0;
}

.tabs__header__list__item:nth-last-child(3) {
  border-right: 0;
}

.tabs__header__list__item--active,
.tabs__header__list__item:hover {
  background: #003E78;
  color: white;
}

.tabs__content {
  display: block;
  padding: 1.6rem 0rem;
}

.tabs__content__item {
  display: none;
}

.tabs__content__item--active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 1280px) {
  .tabs__header__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .tabs__header__list__item {
    flex-grow: 1;
    border-bottom: none;
  }

  .tabs__header__list__item:nth-child(2) {
    border-right: 1px solid #4B77A0;
  }
}

/**************************************
****** Tab Sections Styles ************
***************************************/

.dimensions__image {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.dimensions-table {
  border-collapse: collapse;
  box-sizing: border-box;
  margin-bottom: 2rem;
  z-index: 10;
  width: 100%;
}

.dimensions-table__header {
  padding: 1rem;
  font-weight: 500;
}

.dimensions-table__body {
  border: 1px solid #AFB2B3;
}

.dimensions-table__row {
  border-bottom: 1px solid #AFB2B3;
}

.dimensions-table__row:nth-last-child(1) {
  border: none;
}

.dimensions-table td {
  padding: 1rem 0.5rem;
}

.dimensions-table__column--highlighted {
  background: #E5E8E8;
  width: 30%;
}

.dimensions-table__column--right-border {
  border-right: 1px solid #AFB2B3;
}

@media (min-width: 1280px) {
  .dimensions__image {
    width: 48%;
  }

  .dimensions-table {
    width: 48%;
  }
}

/* Vehicle Layout */
.vehicle-layout:nth-child(1) {
  margin-bottom: 2rem;
}

.vehicle-layout__image {
  max-width: 100%;
}

.vehicle-layout__description {
  margin: 0;
}

/* Vehicle Colors */
.vehicle-color {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.color-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.6rem;
}

.color-selector__swatch {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  margin-right: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-selector__swatch:hover:after {
  border-color: #666666;
}

.color-selector__swatch > i {
  display: none;
}

.color-selector__swatch--active > i {
  display: block;
  color: white;
}

.color-selector__swatch:hover {
  cursor: pointer;
}

.color-selector__swatch::after {
  content: '';
  border: 1px solid #CCC;
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-3px, -3px);
}

.color-type {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  max-width: 620px;
  margin: 0 auto;
}

.color-type__item {
  flex-grow: 1;
  padding: 1rem 0;
  border-bottom: 1px solid #DDDDDD;
  color: #666666;
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
}

.color-type__item:nth-last-child(1) {
  flex-grow: 5;
  margin-left: 2rem;
}

.color-type__item--active,
.color-type__item:hover {
  border-color: black;
  color: black;
  cursor: pointer;
}

.color-selector__group {
  display: none;
}

.color-selector__group--active {
  display: flex;
}

@media (min-width: 1280px) {
  .vehicle-color {
    max-width: 80%;
  }

  .color-selector__swatch {
    height: 44px;
    width: 44px;
  }

  .color-selector__swatch::after {
    height: 50px;
    width: 50px;
  }
}

/* Trim Styles */
.interior-image {
  object-fit: cover;
  width: 100%;
  max-height: 380px;
  margin-bottom: 1rem;
}

.trim-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.trim {
  display: flex;
  flex-direction: column;
  flex: initial;
  max-width: 100%;
  flex-grow: 1;
}

.trim__content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trim > img {
  margin-bottom: 0.8rem;
}

.trim__content__description {
  margin: 0;
}

.checkbox {
  width: 32px;
  height: 32px;
  background: transform;
  border: 1px solid #3E5162;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  display: none;
  color: white;
  font-size: 0.9rem;
}

.checkbox--active,
.trim:hover .checkbox {
  background: #A5AFB6;
  border: none;
}

.checkbox--active .checkbox__icon {
  display: block;
}

@media (min-width: 1280px) {
  .trim {
    flex-grow: 0.10;
  }
}

/**************************************
************ Gallery Styles ***********
***************************************/
.gallery {
  max-width: 100%;
  height: 540px;
  position: relative;
}

.gallery__item__image {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 540px;
}

.gallery__item {
  display: none;
}

.gallery__item--active {
  display: block;
}

.gallery__icon {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 1.6rem;
  color: white;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.90);
  padding: 0.4rem 1rem;
  transform: translateY(-50%);
}

.gallery__icon:hover {
  cursor: pointer;
  background: #000000;
}

.gallery__icon--left {
  left: 2rem;
}

.gallery__icon--right {
  right: 2rem;
}

.gallery__item__counter {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  transform: translateX(-50%);
  padding: 0.2rem 0.8rem;
  border-radius: 5000px;
  background: rgba(0, 0, 0, 0.90);
}

/**************************************
************ Footer Styles ************
***************************************/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #43484D;
  padding: 3.2rem 1.6rem;
}

.footer__left {
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
}

.footer__right {
  flex-grow: 1;
}

.footer__bottom {
  flex-grow: 1;
  width: 100%;
  margin-top: 3.6rem;
}

.footer__left__text {
  color: #9FA7AF;
  font-size: 0.86rem;
  max-width: 420px;
}

.footer__nav,
.footer__nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__nav__list__group {
  flex-direction: column;
  margin-right: 5%;
}

.footer__nav__list__item__link {
  display: block;
  color: #F0F0F0;
  padding: 0.2rem 0;
}

.footer__nav__list__item__link:hover {
  color: white;
  text-decoration: underline;
}

.footer__bottom__text {
  color: #777D84;
  font-size: 0.76rem;
}

@media (min-width: 1280px) {
  .footer {
    padding: 3rem 9rem;
  }

  .footer__nav__list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__left__text {
    margin: 0;
  }
}
